<nav class="navbar navbar-expand-lg navbar-light header">
  <div class="container">
    <a class="navbar-brand" href="#">
     Travel
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Início <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Despesas</a>
      <a class="nav-item nav-link" href="#">Refeições</a>
      <a class="nav-item nav-link" href="#">Atividades</a>
      <a class="nav-item nav-link" href="#">Pedágios</a>
      <a class="nav-item nav-link" href="#">Hotelaria</a>
      <a class="nav-item nav-link" (click)="logout()">Sair</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="#"> <i class="fas fa-user mr-2"></i> {{usuario?.unique_name}}</a>
    </div>
  </div>
  </div>
</nav>