<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" routerLink="/home/dashboard">Início</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>

<div class="d-flex">
    <div *ngIf="viagens.length > 0">
        <div class="smallsize">SUAS VIAGENS</div>
        <h4>{{viagens.length}} VIAGEN(S) CADASTRADA(S).</h4>
    </div>
    <div class="ml-auto">
        <div class="btn btn-info btn-sm mb-1" [routerLink]="['/home', 'travel', 'create']" >
            Iniciar Viagem
        </div>
    </div>
</div>
<div class="alert alert-danger" *ngIf="removeMessage">
    <div>{{removeMessage}}</div>
    <div class="d-flex">
        <button class="btn btn-sm btn-danger mr-2" (click)="confirmaRemove()">Confirmar</button>
        <button class="btn btn-sm btn-light" (click)="removeMessage = null; removeId = null">Cancelar</button>
    </div>
</div>
<div class="jumbo-travel mb-4" *ngIf="viagens.length > 0">
    <div class="row">
        <div class="col-sm-3 mb-4" *ngFor="let item of getViagens; let i = index">
            <div class="card" [ngClass]="{ 'markedRemove' : item.id == removeId }">
                <div class="card-header d-flex" [ngClass]="{ 'bg-danger' : item.id == removeId }">
                    <!-- {{origem(item.rotas).uf}} — {{destino(item.rotas).uf}} -->
                    {{item.descricao}}
                    <div class="ml-auto" [ngClass]="{ 'text-white' : item.id == removeId, 'text-danger' : item.id != removeId }" [routerLink]="" (click)="removerViagem(item)"><i class="fas fa-trash-alt"></i></div>
                </div>
                <div class="card-body">
                    <div class="from mb-2" *ngIf="origem(item.rotas) as origem">
                        <div class="card-content">ORIGEM</div>
                        <span>{{origem.endereco}} — {{origem.uf}}</span>
                    </div>
                    <div class="to mb-2" *ngIf="destino(item.rotas) as destino">
                        <div class="card-content">DESTINO</div>
                        <span>{{destino.endereco}} — {{destino.uf}}</span>
                    </div>
                    <div class="intermedios mb-2">
                        <div class="card-content">INTERMÉDIOS</div>
                        <span>{{item.rotas.length - 2}} destino(s) intermediário(s).</span>
                    </div>
                    <div class="period mb-2">
                        <div class="card-content">PERÍODO</div>
                        <span>{{item.inicio | date: 'dd/MM/yyyy'}} até {{item.fim | date: 'dd/MM/yyyy'}}</span>
                    </div>
                    <button class="btn btn-sm btn-warning text-uppercase" [routerLink]="[ '/home', 'travel', 'edit', item.id ]">Consultar</button>
                </div>
            </div>
        </div>
    </div>
</div>
