

<div class="card mb-3">
  <div class="card-header">Cadastrar Hospedagem</div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <form [formGroup]="form">
          <div class="form-group">
            <label>Nome do Hotel</label>
            <input [ngClass]="{ 'is-invalid': nomeHotel.errors?.required && savePressed, 'is-valid': !nomeHotel.errors && savePressed }" formControlName="nome" type="text" class="form-control form-control-sm" />
            <div class="invalid-feedback" *ngIf="nomeHotel.errors?.required && savePressed">Este campo é obrigatório!</div>
          </div>
          <div class="form-group">
            <label>Endereço</label>
            <input [ngClass]="{ 'is-invalid': endereco.errors?.required && savePressed, 'is-valid': !endereco.errors && savePressed }" formControlName="endereco" type="text" class="form-control form-control-sm" />
            <div class="invalid-feedback" *ngIf="endereco.errors?.required && savePressed">Este campo é obrigatório!</div>
          </div>
          <div class="form-group">
            <label>Avaliação (Estrelas)</label>
            <select formControlName="estrelas" class="form-control form-control-sm">
              <option>Selecione...</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <div class="invalid-feedback" *ngIf="estrelas.errors?.required && savePressed">Este campo é obrigatório!</div>
          </div>
          <div class="form-group">
            <label>Tipo de Hospedagem</label>
            <select [ngClass]="{ 'is-invalid': tipoHospedagem.errors?.required && savePressed, 'is-valid': !tipoHospedagem.errors && savePressed }" formControlName="tipoHospedagem_Id" class="form-control form-control-sm">
              <option>Selecione...</option>
              <option *ngFor="let item of tipoHospedagens$ | async" [value]="item.id">{{item.nome}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="tipoHospedagem.errors?.required && savePressed">Este campo é obrigatório!</div>
          </div>
          <div class="form-group">
            <label>Check-in</label>
            <input [ngClass]="{ 'is-invalid': checkin.errors?.required && savePressed, 'is-valid': !checkin.errors && savePressed }" formControlName="checkin" type="date" class="form-control form-control-sm" />
            <div class="invalid-feedback" *ngIf="checkin.errors?.required && savePressed">Este campo é obrigatório!</div>
          </div>
          <div class="form-group">
            <label>Diárias</label>
            <input [ngClass]="{ 'is-invalid': diarias.errors?.required && savePressed, 'is-valid': !diarias.errors && savePressed }" formControlName="diarias" type="number" class="form-control form-control-sm" />
            <div class="invalid-feedback" *ngIf="diarias.errors?.required && savePressed">Este campo é obrigatório!</div>
          </div>
          <div class="form-group">
            <label>Valor Total</label>
            <input [ngClass]="{ 'is-invalid': valorTotal.errors?.required && savePressed, 'is-valid': !valorTotal.errors && savePressed }" formControlName="valorTotal" type="number" class="form-control form-control-sm" />
            <div class="invalid-feedback" *ngIf="valorTotal.errors?.required && savePressed">Este campo é obrigatório!</div>
          </div>
          <div class="form-group">
            <label>Avaliação</label>
            <textarea [ngClass]="{ 'is-invalid': avaliacao.errors?.required && savePressed, 'is-valid': !avaliacao.errors && savePressed }" formControlName="avaliacao" class="form-control form-control-sm"></textarea>
            <div class="invalid-feedback" *ngIf="avaliacao.errors?.required && savePressed">Este campo é obrigatório!</div>
          </div>
        </form>
        <button (click)="save()" class="btn btn-sm float-right btn-success">Salvar</button>
      </div>
      <div style="overflow-y: hidden" class="col-sm-6">
        <ng-template #carregando>Carregando...</ng-template>
        <div *ngIf="hospedagens && !reloadingHospedagens; else carregando">
          <div *ngFor="let item of hospedagens">
            <div class="card mb-2">
              <div class="card-header" (click)="visibleId = item.id">
                <div class="d-flex">
                  {{item.nome}}
                  <div class="ml-3">
                    <i style="color: #cfae00" class="fas fa-star" *ngFor="let item of starsNumber(item.estrelas)"></i>
                  </div>
                  <div (click)="remover(item.id)" class="ml-auto"><i class="fas fa-trash-alt"></i></div>
                </div>
              </div>
              <div class="card-body" *ngIf="visibleId === item.id">
                <table class="table table-striped">
                  <tr>
                    <th>Nome</th>
                    <th>Checkin</th>
                    <th>Diárias</th>
                    <th>Valor</th>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">{{item.nome}}</td>
                    <td>{{item.checkin | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.diarias}}</td>
                    <td>{{item.valorTotal | currency: 'BRL'}}</td>
                  </tr>
                </table>
                <div>"{{item.avaliacao}}"</div>
                <hr />
                <p class="font-weight-bold">Endereço:</p>
                {{item.endereco}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
